/*_________________________________________________________________________________________________*/

                  /*The search page styles and the forgot password page styles*/

/*_________________________________________________________________________________________________*/


/*The search page styles*/
div#searchName, div#ageRange, div#priceRange {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.49);
    background-color: white;
    margin: 10px;
    text-align: center;
    float: left;
    color: #8eb5ef;
    padding: 10px;
}
div#searchName input, div#ageRange input, div#priceRange input {
    height: 30px;
    width: 300px;
    border: 1px solid #8eb5ef;

}
#Categories {
        margin: 10px;
        height:440px;
        width:300px;
    }

 h2 {
    text-align: center;
    color: #8eb5ef;
}
div#ageRange, div#priceRange {
    position: relative;
    bottom: 298px;
    width: 505px;
}

#words {
    margin: 10px 20px 10px 10px;
    height: 420px;
    width: 300px;
    float: right;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.49);
    background-color: white;
    text-align: center;
    color: #8eb5ef;
    padding: 10px;
}

#words img{
    margin:8px;
    width:250px;
}

#searchResults{
    background-color:white;
    position:relative;
    bottom:300px;
}

    #searchResults h2 {
        border-top: 1px solid #8eb5ef;
        border-bottom: 1px solid #8eb5ef;
    }

.stars3 , .writer, .itemDiv button,.price{
    position:relative;
    left:30px;
}


/*The forgot password styles*/

#main_forgotpassword {
    border: 3px solid rgba(142, 181, 239, 0.59);
    background-color: rgba(142, 181, 239, 0.31);
    width: 300px;
    height: 250px;
    margin: auto;
    margin-top:40px;
}

#main_forgotpassword div{
    text-align:center;
    margin:94px 0px 0px 10px;
}

#MAIN{
    height:300px;
}

#main_forgotpassword input[type="submit"] {
    border: 3px solid rgba(142, 181, 239, 0.59);
    background-color: rgba(142, 181, 239, 0.31);
    width:90px;
    height:30px;
}

    #main_forgotpassword input[type="submit"]:hover {
        background-color: rgba(142, 181, 239, 0.59);
    }

#main_forgotpassword input[type="text"]{
    height:30px;
}